<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Subjects Available</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let subject of subjects; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveSubject(subject, i)"
      >
        {{ subject.title }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllSubjects()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentSubject">
      <h4>Subject</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentSubject.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentSubject.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentSubject.published ? "Published" : "Pending" }}
      </div>

      <a class="badge badge-warning" routerLink="/subjects/{{ currentSubject.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentSubject">
      <br />
      <p>Please click on a Subject...</p>
    </div>
  </div>
</div>